@import 'common.css';
@import 'footer.css';

body {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(../img/clothes1.jpeg);
    height: 1000px;
    position: relative;
}

.aboveHeader {
    background-color: beige;
    width: 100%;
    height: 30px;
}

.aboveHeader .navAboveHeader {
    float: right;
    margin: 5px 10px;
}

.explanationForImage p {
    position: absolute;
    left: 630px;
    top: 400px;
    font-size: 50px;
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
}

.headerBlock {
    top: 0px;
    position: sticky;
    width: 100%;
    background-color: rgb(0, 0, 0, .1);
    padding-top: 10px;
    padding-bottom: 50px;
    z-index: 100;
}


.headerBlock:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    z-index: 100;
}

.logo .logoLink {
    text-decoration: none;
    color: white;
}

.navInHeader ul {
    list-style: none;
    text-align: center;
}

.headerBlock .navInHeader ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.headerBlock .navInHeader ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navInHeader-icon {
    font-size: 25px;
    float: right;
    padding-right: 15px;
}

.navInHeader-icon a {
    color: white;
}

.mainContent {
    width: 1100px;
    margin: 0 auto;
}

.trandingClothes h1 {
    padding-top: 200px;
    margin-bottom: 0px;
    text-align: center;
}

.trandingClothes .container-tranding {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.trandingClothes .container-tranding .tranding1 {
    background-image: url(../img/tranding1.jpeg);
    background-size: cover;
    border-radius: 5%;
    height: 500px;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
}

.trandingClothes .container-tranding .tranding1:hover {
    transition: ease-in .3s;
    color: rgba(0, 0, 0, .7);
    transform: scale(1.1);
}

.trandingClothes .container-tranding .tranding2 {
    background-image: url(../img/tranding2.jpeg);
    background-size: cover;
    border-radius: 5%;
    height: 500px;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
}

.trandingClothes .container-tranding .tranding2:hover {
    transition: ease-in .3s;
    color: rgba(0, 0, 0, .7);
    transform: scale(1.1);
}

.trandingClothes .container-tranding .tranding3 {
    background-image: url(../img/tranding3.jpeg);
    background-size: cover;
    border-radius: 5%;
    height: 500px;
    width: 30%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
}

.trandingClothes .container-tranding .tranding3:hover {
    transition: ease-in .3s;
    color: rgba(255, 255, 255, .9);
    transform: scale(1.1);
}

.container-newItem {
    background-image: url(../img/dress1.jpeg);
    background-size: cover;
    border-radius: 30px;
    margin: 100px 50px 70px 50px;
    padding-bottom: 550px;
    position: relative;
    display: flex;
    justify-content: center;
}

.newItem .container-newItem .description {
    position: absolute;
    top: 90px;
    left: 100px;
}

.newItem .container-newItem .description h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    font-size: 45px;
    color: #ffffe6;
}

.newItem .container-newItem .description h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    font-size: 27px;
    color: #ffffe6;
    padding-top: 10px;
}

.newItem .container-newItem .description button {
    margin-top: 25px;
    padding: 10px 50px;
    font-size: 20px;
    border: .5px solid #595959;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 255, 200, .5);
    cursor: pointer;
    box-shadow: ;
}


